fastApi
uvicorn
pydantic
pytest
psycopg[binary,pool]
psycopg2-binary
python-dotenv
pylint
PyYAML
ulid-py
pytest-cov
httpx
boto3
aioboto3
langchain 
langchain-community 
langchain-classic
langchain-core
langchain-ollama
langchain-openai
pymongo
langchain-groq
redis
pandas
robotframework
robotframework-requests
fastmcp
